.mimamch {
    width: 300px;
    border-radius: 50%;
    border: 3px solid #2c3e50; 
}

.container-fluid p {
    font-size: 20px;
}

.p-5 {
    border-bottom: 4px solid #2c3e50;
}

.container-fluid h1 {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}

hr {
    width: 250px;
    border-top: 3px solid rgba(44, 62, 80, 1.0);
    margin: auto;
}

section {
    min-height: 60px;
}

.portofolio {
    background-color: rgba(149, 165, 166, 1.0);
}
